@import '../../styles/variables.scss';

.card {
  position: relative;
  width: 30%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 1.5%;
  margin-top: 0;
  padding-top: 30%;
  img {
    position: absolute;
    top: 0;
    width: 200%;
    // height: 100%;
  }
  .info {
    position: absolute;
    bottom: 0;
    height: 50%;
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    color: white;
    .author {
      padding: 5% 5% 0;
    }
    .title {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      max-height: 78px;
      padding: 5%;
    }
  }
}

@media (max-width: 1000px) {
  .card {
    width: 48%;
    margin: 1%;
    padding-top: 48%;
  }
}
