@import '../../styles/variables.scss';

.header {
  display: flex;
  // justify-content: space-between;
  height: 8rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  position: fixed;
  background-color: $white;
  width: 100%;
  z-index: 99;
}
.logoBox {
  width: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .logo {
    width: calcWidth(11.6rem, 14rem);
  }
}
.searchInput {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 50%;
  .inputBox {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 2px 4px 1px rgb(0 0 0 / 9%);
    border-left: 1px solid transparent;
    border-right: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-radius: 24px;
    width: 650px;
    input {
      font-size: 16px;
      width: 80%;
      margin: 1px 0 1px 1px;
      padding: 0 10px 0 19px;
      border: 0;
      max-height: none;
      box-sizing: border-box;
      height: 44px;
      vertical-align: top;
      background-color: transparent;
      outline: none;
    }
    .searchBtnBox {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
    }
  }
}
